.bg{
    background-image: linear-gradient(to bottom,#33244d,#170F23);
    /* background-size: 100vw 90vh; */
    padding-top: 64px;
    padding-bottom: 64px;
    position: absolute;
    width: 100%;
    background-color: #170F23;
}