@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  line-height: 1.2;
}

body {
  /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  font-weight: 400;
  font-family: 'Barlow', sans-serif;

}

@keyframes lyric-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes lyric-down {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes playlist-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes playlist-down {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(90%);
  }
}