/* WaveformIcon.css */
.waveform-icon {
  /* Thiết lập các thuộc tính của icon, chẳng hạn như kích thước, màu sắc, ... */
  position: relative;
  cursor: pointer;
}

.waveform-icon.playing .waveform span {
  /* Animation cho các sóng khi phát nhạc */
  animation: waveAnimation 0.5s linear infinite;
}

@keyframes waveAnimation {
  0% {
    height: 0;
  }
  10% {
    height: 10%;
  }
  30% {
    height: 30%;
  }
  50%{
    height:20%
  }
  70%{
    height:20%
  }
  90%{
    height:20%
  }
  100%{
    height:20%
  }
}

.waveform {
  /* Các sóng của biểu tượng sóng */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
}

.waveform span {
  /* Styling cho các sóng */
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 0;
  transform-origin: bottom;
  color:aliceblue;
  background:white;
}
