/* src/animations/fadeInUpAnimation.css */
.fade-enter {
  /* opacity: 0; */
  transform: translateY(100%);
  animation: fadeInUpEnterAnimation 600ms ease-in-out;
}

.fade-exit {
  /* opacity: 1; */
  transform: translateY(0);
  animation: fadeInUpExitAnimation 600ms ease-in-out;
}

@keyframes fadeInUpEnterAnimation {
  from {
    opacity: 0;
    transform: translateY(0%);
  }
  to {
    opacity: 1;
    transform: translateY(100%);
  }
}

@keyframes fadeInUpExitAnimation {
  from {
    opacity: 1;
    transform: translateY(100%);
  }
  to {
    opacity: 0;
    transform: translateY(0%);
  }
}

.fade-appear,
.fade-enter {
  opacity: 0;
  transform: translateY(50px);
}

.fade-appear-active,
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1500ms, transform 1500ms;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 1500ms, transform 1500ms;
}
